#map {
    height:180px;
}

h1 {
    text-align: center;
}

* {
    background-color: lightblue;
}

#map::before{
    content: 'LOADING';
    font-size: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 3em;
}
.leaflet-popup-content-wrapper {
    width: 100%;
}